<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/simplex/bootstrap.min.css" />
	<title>JAuthorTagger Diff Report</title>
	<style type="text/css">
		article  { margin-top: 4em; }	
		body     { margin-bottom: 75px; }
		footer   { bottom: 0px; left: 0px; padding: 10px; position: absolute; text-align: center; width: 100%; }
		html     { min-height: 100%; position: relative; }
		.label   { padding: .1em .4em; }
		pre      { white-space: nowrap; }
	</style>
</head>
<body>
	<div class="container">
	
		<header class="page-header">
			<h1>JAuthorTagger Diff Report</h1>
			<p class="lead">
				<span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;$timestamp
				&nbsp;&nbsp;
				<span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;$backupMode
				&nbsp;&nbsp;
				<span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;$projectDir
			</p>
		</header>
	
		<section>
		#set ($empty = true)
		#foreach ( $f in $javaFiles ) #if ("$!f.typeName" != "" && !$f.diffResult.unifiedDiff.isEmpty())
			#set ($empty = false)
			#set ( $fn = $f.file.absolutePath.substring($projectDir.length()) )
		
			<article>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<h2>$f.typeName</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<p>
							<span class="glyphicon glyphicon-file"></span>
							$fn#if("BACKUP" == $backupMode).at-save#end
							#if ("BACKUP" == $backupMode)
								<span class="label label-info">backup</span>
							#elseif ("NO_BACKUP" == $backupMode)
								<span class="label label-danger">before overwrite</span>
							#elseif ("TEST" == $backupMode)
								<span class="label label-info">not modified</span>								
							#end
							<br/>
							
							<span class="glyphicon glyphicon-file"></span>
							$fn#if("TEST" == $backupMode).at-test#end
							#if ("BACKUP" == $backupMode)
								<span class="label label-success">modified</span>
							#elseif ("NO_BACKUP" == $backupMode)
								<span class="label label-success">modified</span>
							#elseif ("TEST" == $backupMode)
								<span class="label label-info">new file</span>								
							#end
						</p>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-10 col-md-offset-1">			
						<pre>
							#foreach($line in $f.diffResult.unifiedDiff)
								#if ($line.startsWith("-"))
									<span class="text-danger"><strong>
								#elseif ($line.startsWith("+"))
									<span class="text-success"><strong>
								#end
								$line.replace(" ", "&nbsp;").replace("<", "&lt;").replace(">", "&gt;")
								#if ($line.startsWith("-") || $line.startsWith("+"))
									</strong></span>
								#end
								<br/>
							#end
						</pre>
					</div>
				</div>
			</article>
		#end #end ## javaFiles
		</section>
		
		#if ($empty)
			<section>
				<header>
					<p class="lead"><br/>No files were modified this time.</p>
				</header>
			</section>
		#end
		
		<footer>
			<p>
				<strong>JAuthorTagger</strong>
				by
				<a href="http://juzraai.github.io/" target="_blank">Zsolt Jurányi</a>
				&nbsp;&middot;&nbsp;
				<a href="http://github.com/juzraai/author-tagger" target="_blank">Source code</a>
			</p>
		</footer>
	</div>
</body>
</html>